.product-card {
  max-width: 400px;
  position: relative;
  z-index: 10;
  background: rgba(40, 30, 15, 0.38);
  background-image: none;
}

.mat-mdc-card-sm-image {
width: 100%;
  height: 300px;
  object-fit: cover;
}

.bg-link {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  min-height: 7vh;
  padding: 24px;
  display: inline-flex;
  justify-content: center;
  padding-left: 100px;
}
