        <div [style.background]="currentBackground" class="bg-link"></div>
        <div class="content-wrapper">
        <mat-card class="product-card" appearance="outlined">
        <mat-card-title-group>
          <mat-card-title>{{ product.name }}</mat-card-title>
               </mat-card-title-group>
          <mat-card-subtitle>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</mat-card-subtitle>
          <img mat-card-sm-image class="image-class" [src]="product.imageUrl" [alt]="product.name">

        <mat-card-content class="mat-product-details">
          {{ product.description }}
        </mat-card-content>
        </mat-card>
        </div>
